
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Postogether</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="topb">
    <div class="row">
      <div class="container">
        <div class="col s12 m5">
          <a class="logo" href="/">Postogether</a>
        </div>
        <form action="/login" method="post">
          <div class="col s12 m2">
            <input id="ptun" type="email" name="email" placeholder="Email">
          </div>
          <div class="col s12 m2">
            <input id="ptpw" type="password" name="password" placeholder="Password">
          </div>
          <div class="col s12 m1">
            <input id="ptsb" type="submit" value="Log In">
          </div>
          <div class="col s12 m2">
            <a class="fp" href="#">Forgot Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m7">
          <div class="slogan">
            <h4>Do you have something interesting?</h4>
            <p>Share with us</p>
          </div>
          <br>
          <div class="hmicon">
            <ul>
              <li><i class="material-icons">photo_library</i> Share Photos</li>
              <li><i class="material-icons">person_add</i> Make Friends</li>
              <li><i class="material-icons">forum</i> Do Discussion</li>
            </ul>
          </div>
        </div>

        <div class="col s12 m5">
          <div class="slogan">
            <h4>Sign Up</h4>
            <p>It's free</p>
          </div>
          <hr>
          <br>
          <form action="index.html" method="post">
            <input id="rfn" type="text" name="" placeholder="First Name">
            <input id="rln" type="text" name="" placeholder="Last Name">
            <input id="re" type="email" name="" placeholder="Email">
            <input name="group1" type="radio" id="test1" />
            <label for="test1">Male</label>
            <input name="group1" type="radio" id="test2" />
            <label for="test2">Female</label>
            <br>
            <br>
            <input id="rdp" type="text" class="datepicker" placeholder="Date of Birth">
            <p class="tnc">By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use.</p>
            <input class="rsbtn" type="submit" value="Create Account">
          </form>
        </div>
      </div>

    </div>
  </div>




  <div class="bt">
    <div class="container">
      <div class="row">
        <br>
        <br>
        <br>
        <div class="col l8 s12">
          <h5 class="lowerTitle">about</h5>
          <p class="lowerDesc">I am a students at galvanize, Phoenix AZ working on this project like it's my full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l2 s12">
          <h5 class="lowerTitle">Company</h5>
          <div class="lower-links">
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col l2 s12">
          <h5 class="lowerTitle">Connect</h5>
          <div class="lower-links">
            <ul>
              <li><a href="#">Log In</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Forgot Password</a></li>
              <li><a href="#">Find Friends</a></li>
              <li><a href="#">Start Discussion</a></li>
            </ul>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-copy">
      <div class="container">
      &copy; 2017, Rahul Sharma
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
